<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock %} </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link 
    href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700;800&family=DM+Sans:wght@300;400;500&family=DM+Mono:wght@400;500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css')}}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: var(--red) !important;">
      <div class="navbar-brand">
        <a class="navbar-item logo-item" href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='images/logo.png')}}">
        </a>
    
        <a role="button" class="navbar-burger" style="color: var(--ink) !important;" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
  
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end navbar-section">
            <a class="navbar-item" href="{{url_for('home')}}" style="color: var(--ink) !important;">
              
              <strong>Home</strong>
            </a>
          
            <a class="navbar-item" href="{{url_for('store')}}" style="color: var(--ink) !important;">
              
              <strong>Store</strong>
            </a>
            <a class="navbar-item" href="{{ url_for('membership') }}" style="color: var(--ink) !important;">
              
              <strong>Membership Plans</strong>
            </a>
            <a class="navbar-item" href="{{url_for('classes')}}" style="color: var(--ink) !important;">
              
              <strong>Classes</strong>
            </a>
            <a class="navbar-item" style="color: var(--ink) !important;">
              <strong>Personal Training</strong>
            </a>
            <a class="navbar-item" href="{{url_for('admin_dashboard')}}" style="color: var(--ink) !important;">
              <strong>Admin Dashboard</strong>
            </a>
            
            {% if current_user.is_authenticated %}
                
                <button class="buttons">
                    <a class="button is-dark is-info" href="">
                        <span class="material-symbols-outlined" >
                            account_circle
                        </span>
                    </a>

                    <a class="button is-danger is-dark" href="{{ url_for('logout') }}">
                        log out
                    </a>
                </button>
                
            {% else %}
            
                <div class="buttons">
                  <a class="button is-primary is-dark" href="{{ url_for('sign_up') }}">
                    Sign up
                  </a>
                  <a class="button is-info is-dark" href="{{ url_for('login') }}">
                    Log in
                  </a>
                </div>
            {% endif %}
            
        </div>
        
      </div>
    </nav>

    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <strong>
            <p class="is-size-5" id="blink-text">{{message}}</p>
        </strong>
        {% endfor %}
    {% endwith %}


    {% block content %}{% endblock %}


    <script>
        document.addEventListener('DOMContentLoaded', () => {

          // Get all "navbar-burger" elements
          const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

          // Add a click event on each of them
          $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {
            
              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);
            
              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');
            
            });
          });
      
        });
    </script>
</body>
</html>